@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Black+Han+Sans&family=Carter+One&family=DM+Serif+Display&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  margin-bottom: 80px;
}

.logo {
  font-family: 'Carter One';
  display: inline-block;
  margin-top: -5px;
}

#screening-img {
  width: 120px;
  margin-right: 50px;
  margin-bottom: 20px;
  margin-top: 30px;

}

ul {
  text-align: left;
  list-style-type: none
}